:root {
  --bg-pri-clr: rgb(253, 253, 253);
  --bg-sec-clr: rgb(210, 230, 236);
  --accent-clr: rgb(40, 158, 217);
  --highlight-clr: rgb(237, 162, 13);
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}


h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 auto;

  font-family: 'Roboto', sans-serif;
}


.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  z-index: 2;

  background-color: var(--accent-clr);
  padding: 20px 5px;
  gap: 50px;
  height: 100vh;
}

.sidebar__tabs ul,
.sidebar__extra ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: bold;
  font-size: 1rem;
  color: white;
}


.sidebar a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 50px 10px 5px;
  gap: 15px;
  transition: all 0.1s ease-in-out;
}

.sidebar a:hover {
  background-color: rgb(75, 183, 222);
}

.home-icon,
.profile-icon,
.messages-icon,
.history-icon,
.tasks-icon,
.communities-icon,
.settings-icon,
.support-icon,
.privacy-icon {
  height: 1.1rem;
  width: 1.1rem;
  background-color: white;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

.home-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/home.svg');
  mask-image: url('../assets/icons/sidebar/home.svg');
}

.profile-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/profile.svg');
  mask-image: url('../assets/icons/sidebar/profile.svg');
}

.messages-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/messages.svg');
  mask-image: url('../assets/icons/sidebar/messages.svg');
}

.history-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/history.svg');
  mask-image: url('../assets/icons/sidebar/history.svg');
}

.tasks-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/tasks.svg');
  mask-image: url('../assets/icons/sidebar/tasks.svg');
}

.communities-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/communities.svg');
  mask-image: url('../assets/icons/sidebar/communities.svg');
}

.settings-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/settings.svg');
  mask-image: url('../assets/icons/sidebar/settings.svg');
}

.support-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/support.svg');
  mask-image: url('../assets/icons/sidebar/support.svg');
}

.privacy-icon {
  -webkit-mask-image: url('../assets/icons/sidebar/privacy.svg');
  mask-image: url('../assets/icons/sidebar/privacy.svg');
}

.main {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;

  padding: 20px;
  gap: 10px;
  background-color: var(--bg-pri-clr);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.topbar__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchbar {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.searchbar__input {
  border: none;
  outline: none;
  background-color: var(--bg-sec-clr);
  border-radius: 2rem;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 15px;
  width: 20%;
  margin: 0;
  transition: all 0.2s ease-in-out;
}

.searchbar__input:focus {
  width: 100%;
}

.search-icon,
.notification-icon {
  height: 1.8rem;
  width: 1.8rem;
  background-color: black;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

.search-icon {
  -webkit-mask-image: url('../assets/icons/topbar/search.svg');
  mask-image: url('../assets/icons/topbar/search.svg');
}

.notification-icon {
  -webkit-mask-image: url('../assets/icons/topbar/notifications.svg');
  mask-image: url('../assets/icons/topbar/notifications.svg');
}

.topbar__topcorner {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.topbar__userprofile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  font-weight: bold;
  font-size: 1rem;
}

.topbar__userprofile img {
  width: 40px;
  height: 40px;
}

.topbar__userinfo img {
  width: 60px;
  height: 60px;
}

.topbar__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topbar__userinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.topbar__greeting--bold {
  font-weight: bolder;
  font-size: x-large;
}

.topbar__actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  color: white;
}

.topbar__actions button {
  background-color: var(--accent-clr);
  padding: 10px 40px;
  border-radius: 20px;
  transition: all 0.1s ease-in-out;
}

.topbar__actions button:hover {
  filter: brightness(110%) saturate(90%);
}

/* content */

.content {
  display: grid;
  background-color: var(--bg-sec-clr);
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto;
}

.content h2 {
  margin-bottom: 10px;
}

.projects {
  grid-column: 1 / span 5;
  grid-row: span 2;
  padding: 20px;
  padding-right: 0;
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.announcements__container {
  background-color: var(--bg-pri-clr);
  border-radius: 10px;
  padding: 20px;
}

/* card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-pri-clr);
  border-radius: 10px;
  border-left: 10px solid var(--highlight-clr);
  padding: 30px;
  flex: 0 0 calc(50% - 10px);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.star-icon,
.watch-icon,
.share-icon {
  height: 25px;
  width: 25px;
  background-color: black;
  background-size: cover;
  background-position: center;
  transition: all 0.1s ease-in-out;
}

.star-icon {
  -webkit-mask-image: url('../assets/icons/star-outline.svg');
  mask-image: url('../assets/icons/star-outline.svg');
}

.watch-icon {
  -webkit-mask-image: url('../assets/icons/eye-outline.svg');
  mask-image: url('../assets/icons/eye-outline.svg');
}

.star-icon.active,
.star-icon:not(.active):hover {
  background-color: orange;
}

.watch-icon.active,
.watch-icon:not(.active):hover {
  background-color: var(--accent-clr);
}

.share-icon {
  -webkit-mask-image: url('../assets/icons/share-outline.svg');
  mask-image: url('../assets/icons/share-outline.svg');
}

.share-icon:hover {
  background-color: var(--accent-clr);
}

.announcements {
  grid-column: 6 / span 2;
  grid-row: 1;
  padding: 20px;
}

.trending {
  grid-column: 6 / span 2;
  grid-row: 2;
  padding: 20px;
}

.trending__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  background-color: var(--bg-pri-clr);
  border-radius: 10px;
}

.trending__element {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.trending__element img {
  width: 3rem;
  height: 3em;
  border-radius: 50%;
}